/.idea
.py[coz]
/*.sqlite3

*__pycache__
/static
*~
setuptools-[0-9]*
virtualenv-[0-9]*

*.egg-info
build

*.pem

/env
/.env
/*.ipynb_checkpoints
/*.tex
*.aux
*.log
*.out
*.pdf
*.synctex
*/node_modules
*/extra_fonts
*/tmp
*.tar.gz
*/docker-compose.yml
local_settings.py
*/local_settings/requirements.txt
/latex2pdf/l2i_images
/latex2pdf/.coverage
/latex2pdf/htmlcov
/docker-compose.yml
/latex2pdf/tests/*.ipynb
