{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ form_description }} - LaTeX2Pdf
{% endblock %}

{% block head_assets_form_media %}
    {{ form.media }}
{% endblock %}


{% block content %}
    <div class="container l2p-input">
        <div class="row">
            {% if form_description %}
                <h1>{{ form_description }}</h1>
                {{ form_text|safe }}
            {% endif %}
            <div class="well">
                {% crispy form %}
            </div>
        </div>
    </div>
    <div class="container l2p-output">
        <div class="row">
            {% if collection.compile_error or unknown_error %}
                <hr>
                <div class="alert alert-danger no-mathjax">
                    <h2>{% if collection.compile_error %}{% trans "Compile Error" %}{% else %}
                        {% trans "Unknown Error" %}{% endif %}</h2>
                    <p>
                        {% if collection.compile_error %}
                            <pre>{{ collection.compile_error | safe }}</pre>
                        {% else %}
                            <pre>{{ unknown_error | safe }}</pre>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            <div class="col-lg-12">
                {% for instance in instances %}
                    <hr>

                    <h2>{{ instance.name }}</h2>

                    <div class="embed-responsive {% if instance.is_slide %}embed-responsive-a4{% else %}embed-responsive-4by3{% endif %}">

                        <iframe class='embed-responsive-item'
                                src='{% static "pdf.js/build/minified/web/viewer.html" %}?file=https://staticssl.learningwhat.com/l2p_pdf/1/essay/9cd5eb5d581a6aefd3dcb3ee00f0d4fb/collection2.pdf'
                                width='90%' allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block page_bottom_javascript_extra %}
    {{ block.super }}
{% endblock %}
