{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ form_description }} - LaTeX2Pdf
{% endblock %}

{% block head_assets_form_media %}
    {{ form.media }}
{% endblock %}


{% block content %}
    <div class="container l2i-input">
        <div class="row">
            {% if form_description %}
                <h1>{{ form_description }}</h1>
                {{ form_text|safe }}
            {% endif %}
            <div class="well">
                {% crispy form %}
            </div>
        </div>
    </div>
    <div class="container l2i-output">
        <div class="row">
            {% if collection.compile_error or unknown_error %}
                <hr>
                <div class="alert alert-danger no-mathjax">
                    <h2>{% if collection.compile_error %}{% trans "Compile Error" %}{% else %}
                        {% trans "Unknown Error" %}{% endif %}</h2>
                    <p>
                        {% if collection.compile_error %}
                            <pre>{{ collection.compile_error | safe }}</pre>
                        {% else %}
                            <pre>{{ unknown_error | safe }}</pre>
                        {% endif %}
                    </p>
                </div>
            {% endif %}

            {% for instance in instances %}
                <hr>
                <div class="alert alert-success no-mathjax">
                    <h2>{% trans "Image" %}</h2>
                    {#                    <hr>#}
                    {#                    <div class="well"><img class="img-responsive" style="margin: 0 auto;" src="{{ instance.data_url }}"/></div>#}
                    {#                    <hr>#}
                    {#                    {% if size %}#}
                    {#                        <div><b>{% trans "size" %}:</b> <span>{{ size |filesizeformat }}</span></div>#}
                    {#                    {% endif %}#}
                    <div><b>{% trans "path" %}:</b> <span> {{ instance.pdf.url }}</span></div>
                    {#                    <div><b>{% trans "tex_key" %}:</b> <span> {{ instance.zip_file_key }}</span></div>#}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
