{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ form_description }} - LaTeX2Pdf
{% endblock %}

{% block header_extra %}
    {% include "datatables-header.html" %}
{% endblock %}

{% block head_assets_form_media %}
    {{ form.media }}
{% endblock %}


{% block content %}
    <h1>{% trans "My Projects" %}</h1>

    <a href="{% url "project-create" %}" class="btn btn-default">{% trans "Create new project" %}</a>

    <table class="table table-striped l2p-projects">
        <thead>
        <th class="datacol">{% trans "Identifier" %}</th>
        <th class="datacol">{% trans "Name" %}</th>
        <th class="datacol">{% trans "Revisions" %}</th>
        <th class="datacol">{% trans "Last update" %}</th>
        <th class="datacol">{% trans "Is private" %}</th>
        <th class="datacol">{% trans "Action" %}</th>
        </thead>
        <tbody>
        {% for project in object_list %}
            {% with project.get_collections_info as info %}
                <tr>
                    <td class="datacol" data-order="{{ project.identifier }}">
                        <a href="{% url "project-detail" project.identifier %}">{{ project.identifier }}</a>
                    </td>
                    <td class="datacol">{{ project.name }}</td>
                    <td class="datacol">{{ info.0 }}</td>
                    <td class="datacol">{{ info.1 }}</td>
                    <td class="datacol">{{ project.is_private }}</td>
                    <td class="datacol">
                        <a href="{% url "project-update" project.identifier %}" class="btn btn-default btn-xs">{% trans "Update" %}</a>
                        <a href="{% url "project-delete" project.id %}" class="btn btn-danger btn-xs">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block page_bottom_javascript_extra %}
    {% get_current_js_lang_name as LANG %}
    <script type="text/javascript">
        var tbl = $("table.l2p-projects").dataTable({
            "scrollCollapse": true,
            "paging": false,
            "ordering": true,
            "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
        });
    </script>
    {{ block.super }}
{% endblock %}
