{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {% trans "Projects" %} - LaTeX2Pdf
{% endblock %}

{% block header_extra %}
    {% include "datatables-header.html" %}
{% endblock %}

{% block head_assets_form_media %}
    {{ form.media }}
{% endblock %}


{% block content %}
    {% if public_projects %}
        <h2>{% trans "Public Projects" %}</h2>
        <table class="table table-striped l2p-projects" id="open-projects">
            <thead>
            <th class="datacol">{% trans "Identifier" %}</th>
            <th class="datacol">{% trans "Name" %}</th>
            <th class="datacol">{% trans "Revisions" %}</th>
            <th class="datacol">{% trans "Last update" %}</th>
            </thead>
            <tbody>
            {% for project in public_projects %}
                {% with project.get_collections_info as info %}
                    <tr>
                        <td class="datacol" data-order="{{ project.identifier }}">
                            <a href="{% url "project-detail" project.identifier %}">{{ project.identifier }}</a>
                        </td>
                        <td class="datacol">{{ project.name }}</td>
                        <td class="datacol">{{ info.0 }}</td>
                        <td class="datacol">{{ info.1 }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if my_projects %}
        {% if public_projects %}
            <hr>{% endif %}
        <h2>{% trans "My Projects" %}</h2>

        <table class="table table-striped l2p-projects" id="my-projects">
            <thead>
            <th class="datacol">{% trans "Identifier" %}</th>
            <th class="datacol">{% trans "Name" %}</th>
            <th class="datacol">{% trans "Revisions" %}</th>
            <th class="datacol">{% trans "Last update" %}</th>
            <th class="datacol">{% trans "Is private" %}</th>
            <th class="datacol">{% trans "Action" %}</th>
            </thead>
            <tbody>
            {% for project in my_projects %}
                {% with project.get_collections_info as info %}
                    <tr>
                        <td class="datacol" data-order="{{ project.identifier }}">
                            <a href="{% url "project-detail" project.identifier %}">{{ project.identifier }}</a>
                        </td>
                        <td class="datacol">{{ project.name }}</td>
                        <td class="datacol">{{ info.0 }}</td>
                        <td class="datacol">{{ info.1 }}</td>
                        <td class="datacol">{{ project.is_private }}</td>
                        <td class="datacol">
                            <a href="{% url "project-compile" project.identifier %}" class="btn btn-success btn-xs"
                               title="{% trans "Compile" %}"><i class="fa fa-rocket" aria-hidden="true"></i></i></a>
                            <a href="{% url "project-delete" project.id %}" class="btn btn-danger btn-xs"
                               title="{% trans "Delete" %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if public_projects or my_projects %}
        <hr>{% endif %}
    {% if user.is_authenticated %}
        <a href="{% url "project-create" %}" class="btn btn-default">{% trans "Create new project" %}</a>
    {% endif %}
{% endblock %}


{% block page_bottom_javascript_extra %}
    {% get_current_js_lang_name as LANG %}
    <script type="text/javascript">
        let tbl1 = $("#open-projects").dataTable({
            "scrollCollapse": true,
            "paging": false,
            "ordering": true,
            "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
        });
        {% if user.is_authenticated %}
            let tbl2 = $("#my-projects").dataTable({
                "scrollCollapse": true,
                "paging": false,
                "ordering": true,
                "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
            });
        {% endif %}
    </script>
    {{ block.super }}
{% endblock %}
